@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base:
@tailwind components;
@tailwind utilities;

/* Add this to remove default gaps */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a; /* Matches your header background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This is very important for widths */
}

body {
  margin: 0;
  overflow-x: hidden; /* Prevents accidental side-scrolling */
  background-color: #1a1a1a;
}
body {
  font-family: 'Inter', sans-serif;
}